
.switch-toggle {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.switch-label {
    margin-left: 12px;
    margin-top: 5px;
}

.custom-switch {
    position: relative;
    width: 50px;
    height: 28px;
}

.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .custom-slider {
    background-color: #4caf50;
}

input:checked + .custom-slider:before {
    transform: translateX(22px);
}

