.input-group {
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
}

label {
    display: block;
    margin: 10px 0 5px;
}

#username, #password, #confirmPassword {
    width: 100%;
    padding: 12px 12px 12px 50px;
    margin: 5px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 0.875em;
}